

<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head><title>
	Creative Worldwide Support > Knowledgebase Solutions
</title><meta name="viewport" content="width=device-width" /><link id="ctl00_MyMenuStyleSheet" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    (function (d) {
      var config = {
        kitId: 'joq3zak',
        scriptTimeout: 3000,
        async: true
      }
      if (1 === 29) {
        config.kitId = "inr1ije"
      }
      var h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
  </script>

  
        <script>
             var currentDetectedCountry = 972;
			 var siteLang = 'en';
		</script>
  <link rel="stylesheet" type="text/css" href="print.css" media="print" />
<link rel="stylesheet" href="/content/css/vendor/buefy-stripdown.css" /><link href="https://img.creative.com/fontastic/icons.css" rel="stylesheet" /><link href="https://sg.creative.com/content2/css/main.min.css" rel="stylesheet" /><link href="https://sg.creative.com/bundles/productCSS?v=fdQeJJ8HzaIlrn8UVtPhJycv2GHwJ2r_MTBkbS6MhQI1" rel="stylesheet" /><link rel="stylesheet" href="/content/css/master.css" />
  <link href="/Content/css/loader.css" rel="stylesheet" />
  <link href="/content/css/products/products.css" rel="stylesheet" type="text/css" />
  <link href="/content/css/loader.css" rel="stylesheet" type="text/css" />
  <link href="/content/css/kbase_style_external.css" rel="stylesheet" type="text/css" />

	<link href="/content/css/kb.css" rel="Stylesheet" type="text/css" />
<link href="../App_Themes/MasterTheme/QuickHelp.css" type="text/css" rel="stylesheet" /><link href="../App_Themes/MasterTheme/QuickLinks.css" type="text/css" rel="stylesheet" /><link href="../App_Themes/MasterTheme/RelatedLinks.css" type="text/css" rel="stylesheet" /><meta name="SERVER" content="21" /><meta name="LCS" content="1_972_61" /><meta name="Culture_Encoding" content="en-US/utf-8" /><meta name="Product" /><meta name="keywords" content="Creative, technical, help, support, assistance, download, driver, faq, latest releases" /><meta name="description" content="Welcome to Creative Worldwide Support. Get technical help for your Creative products through Knowledgebase Solutions, firmware updates, driver downloads and more." /><meta name="DCSext.SupportProduct" content="Direct" /><meta name="DCSext.SupportService" content="Knowledge Base" /></head>

<body>
  <script type="text/javascript">
		var siteLang = 'en';
		var searchHdrProduct = 'Product';
		var searchHdrDownloads = 'Download';
		var searchHdrKnowledgeBase = 'Knowledgebase Solutions';
  </script>

  <div id="all">

    <div id="header">
      

<!--[if lt IE 7]><script type="text/javascript" src="/js/ie6hover-fix.js"></script><![endif]-->
<div class="main-nav-wrapper">
  <nav id="main-nav" class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a href="/welcome.aspx" class="navbar-brand">
          <img src="https://d287ku8w5owj51.cloudfront.net/images/home/logo-creative-white.svg" alt="CREATIVE" class="creative-logo" />
        </a>

        <div id="countryDisplay" style="float: left; display:none">
          WORLDWIDE SUPPORT<div style='text-align:center'>Israel</div>
        </div>


      </div>
      <div class="main-menu" id="main-menu">
        <ul class="nav navbar-nav main-nav">
          <li class="dropdown">
            <a href="/Products/Products.aspx?catid=1181" role="button">
              Super X-Fi
               <!--<span id="ctl00_TagUCHeader_lbNavProduct">Products</span> -->
              </a>
          </li>

          <li class="dropdown">   
            <a href="/Products/Products.aspx?catid=1" role="button">  
              Sound Blaster
            </a>
          </li>

          <li class="dropdown">
            <a href="/Products/Products.aspx?catid=4" role="button">
              Speakers
            </a>
          </li>

          <li class="dropdown">
            <a href="/Products/Products.aspx?catid=437" role="button">
              Headphones
            </a>
          </li>

          <li class="dropdown">
            <a href="/Products/Products.aspx?catid=1181" role="button" aria-haspopup="true" aria-expanded="false" data-target-id="product-menu">
              Others
              </a>
          </li>
        </ul>
      </div>

      <div id="sec-menu">
        <ul class="nav navbar-nav navbar-right">
          <li id="ctl00_TagUCHeader_LocalNavSearch" class="hidden-xs hidden-xxs searchbox">
            <span class="search-nav">
              
<div id="SearchApp" class="searchbox">
	<div class="autocomplete-container">
		<form id="suggest-search">
			<div class="search">
				<template>
            <section>
                <b-field>
                    <div class="inner-addon left-addon">
                        <ul class="suggest">
													<b-autocomplete v-model="suggestName" placeholder="Product Name, Keywords, Articles" icon="magnify"
														:keep-first=false :open-on-focus=true :data="data" field="displayTitle" :loading="isFetching"
															@keydown.native.enter="submitSearch(selected || suggestName)"
															@typing="getData" 
															@select=" function(option) { selected = option}">
                            <template slot-scope="props">
															<li style="cursor: default;" v-if="props.option.type==='title'"
																	@click.stop.prevent="function(event){event.preventDefault()}">
																	<div :class="props.option.type==='title' ? 'suggest-header' : 'suggest-body'">
																			<div class="inline-suggest" v-html="props.option.title"></div>
																	</div>
															</li>
															<li v-else>
																	<div :class="props.option.type==='title' ? 'suggest-header' : 'suggest-body'"
																			@keydown.native.enter="submitSearch2(props.option.title, props.option.url)">
																			<a v-bind:href="props.option.url" @click="selectItem(props.option.title, props.option.url)" >
																			<div class="inline-suggest" v-html="props.option.title"></div>
																			</a>
																	</div>
															</li>
                            </template>
                        </b-autocomplete>
                        </ul>
                    </div>
                </b-field>
            </section>
        </template>
			</div>
		</form>
	</div>
</div>



            </span>
          </li>
          <li>
            <a href="javascript:;" class="hamburger hamburger--spin js-hamburger" id="nav-sitemap"
              data-target-id="side-menu">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      
    </div>
  </div>

  <div class="row banner">
    <div class="col-xs-12 col-sm-8 flex-valign-middle">
      <h1>
				<span>Creative Worldwide</span><br />Support
      </h1>
    </div>

    <div class="col-xs-12 col-sm-4" style="display: inline-flex;  align-self: flex-end;">
      <a href="/"><img src="/images/header_img.png" alt="Worldwide Support" class="img-responsive" /></a>
    </div>
  </div>
</div>

      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  
              </div>
          </div>
      </div>
      
        <div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div id="breadcrumbs">
                <span id="ctl00_Pheader_SiteMapPath2"><a href="#ctl00_Pheader_SiteMapPath2_SkipLink"><img alt="Skip Navigation Links" height="0" width="0" src="/WebResource.axd?d=VXYpBoUqnagMD2NQ0r7D7oGevlkkDQlGa3NPCJruyoAKVhZT3csEY5WrfKOMdIJFfP7L5Nao9ge63CNJSaWEAZ2pZA01&amp;t=638250924092864286" style="border-width:0px;" /></a><span>
                    <a href="/" id="ctl00_Pheader_SiteMapPath2_ctl00_SiteMapNode" class="breadcrumbs" style="color:#222D33;">
                      <span id="ctl00_Pheader_SiteMapPath2_ctl00_text">Support</span>
                    </a>
                  </span><span class="path-separator" style="color:#222D33;">&gt;</span><span>
                    <a href="/" id="ctl00_Pheader_SiteMapPath2_ctl02_SiteMapNode" class="breadcrumbs" style="color:#222D33;">
                      <span id="ctl00_Pheader_SiteMapPath2_ctl02_text">Knowledgebase Solutions</span>
                    </a>
                  </span><span class="path-separator" style="color:#222D33;">&gt;</span><span>
                    <a href="/" id="ctl00_Pheader_SiteMapPath2_ctl04_SiteMapCurrentNode" class="breadcrumbs" style=" color:#222D33;text-decoration:none ">
                      <span id="ctl00_Pheader_SiteMapPath2_ctl04_text">Back to previous page</span>
                    </a>
                  </span><a id="ctl00_Pheader_SiteMapPath2_SkipLink"></a></span>
              </div>
            </div>
          </div>
        </div>
      
    </div>

    <div id="contentarea">
      <form name="aspnetForm" method="post" action="ShowArticle.aspx?sid=6098" id="aspnetForm">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE3OTIwOTQwMTlkZAeCy7EVXX8+3bOXC2JVH86v8wh2" />
</div>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CEEB3E9C" />
</div>
        

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="ctl00_PHmCenterNav_ProductInformation"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div id="ShowEOSLMessage">
          <div id="ctl00_PHmCenterNav_ShowEOSLInfo"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div id="ctl00_PHmCenterNav_ShowProdInfo" style="margin-top: 20px">
        </div>
        <div id="showArticleMain">
          <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
          </div>
        </div>
        <div id="divHiddenFields">
        </div>

				<div class="row margin-top-20">
					<div class="col-xs-12">
            <!-- <i class="mdi mdi-arrow-right mdi-24px"></i> -->
            <a href="https://ae.creative.com/contactus/" class="to-contactus"><span id="ctl00_PHmCenterNav_lbContactus">Contact Us</span></a>
            <br>
		<a href="javascript: history.go(-1)" class="backtoprevious"><span id="ctl00_PHmCenterNav_lbBack">Back to previous page</span></a>
		</div>
	</div>

        
      </div>
    </div>
  </div>

      </form>
    </div>

    



<footer id="global-footer" class="global-footer noprint">
	<div class="container">
		<div class="row">
			<div class="footer-section col-xxs-12 col-xs-6 col-sm-3">
				<ul>
					<li>
						<p class="title">Products</p>
						<ul>
							
									<li>
										<a id="ctl00_TagUCFooter2_dlProductList_ctl00_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=1181">Super X-Fi</a>
									</li>
								
									<li>
										<a id="ctl00_TagUCFooter2_dlProductList_ctl01_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=1118">Amplifiers</a>
									</li>
								
									<li>
										<a id="ctl00_TagUCFooter2_dlProductList_ctl02_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=1">Sound Blaster</a>
									</li>
								
									<li>
										<a id="ctl00_TagUCFooter2_dlProductList_ctl03_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=1007">Gaming Headsets</a>
									</li>
								
									<li>
										<a id="ctl00_TagUCFooter2_dlProductList_ctl04_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=4">Speakers</a>
									</li>
								
									<li>
										<a id="ctl00_TagUCFooter2_dlProductList_ctl05_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=437">Headphones</a>
									</li>
								
									<li>
										<a id="ctl00_TagUCFooter2_dlProductList_ctl06_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=0&amp;oid=213">MP3 Players</a>
									</li>
								
									<li>
										<a id="ctl00_TagUCFooter2_dlProductList_ctl07_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=0&amp;oid=493">Fatal1ty Pro Gaming</a>
									</li>
								
						</ul>
					</li>
				</ul>
			</div>

			<div class="clearfix visible-xs-block"></div>

			<div class="footer-section col-xxs-12 col-xs-6 col-sm-3">
				<ul class="last">
					<li>
						<p class="title">Warranty<span class="i-plus"></span></p>
						<ul>
							<li><a href="https://register.creative.com" target="_blank">Register Your Product</a></li>
							<li><a href="/warranty/welcome.aspx?type=footer">Warranty & Returns Information</a></li>
							<li><a href="/warranty/obtainrma.aspx?type=footer">How to receive Warranty Service</a></li>
							
								<li><a href="/warranty/rmafaq.aspx?type=footer">FAQ</a></li>
							
						</ul>
					</li>
				</ul>
			</div>

			<div class="footer-section col-xxs-12 col-xs-6 col-sm-3">
				<ul>
					<li>
						<p class="title">Quick Links<span class="i-plus"></span></p>
						<ul>
							<li><a href="/kb/showarticle.aspx?sid=136597&type=menu" target="">Battery Handling</a>
							
							<li><a href="https://asia.creative.com/contactus" target="_blank">Contact Us</a></li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="hidden-xxs col-sm-3">
				<ul class="country-selector">
					<li>
						<p class="title" style="white-space: nowrap">Visit your Region/Country</p>
					</li>
					<li>
						<section id="countryAppFooter">
							<div id="countrySelector" class="countryselector">
								<ul style="display:none"></ul>
								<select v-model="country"  @change="changeCountryLanguage($event)" class="DropDownList1">
										 <option v-for="country in countrieslist" :value="country.id">
											 {{ country.name }}
										 </option>
								</select>
							</div>
							</section>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xxs-12 col-sm-12">
				<div class="footer-social">
					
					<a href="https://asia.creative.com/contactus" id="ctl00_TagUCFooter2_aContactus" class="hidden-xxs"><i class="i-user"></i><span style="text-transform:uppercase;">Contact Us</span></a>
					<a href="https://facebook.com/CreativeLabs" target="_blank" class="facebook"><i class="i-facebook"></i><span>Facebook</span></a>
					<a href="https://twitter.com/creativelabs" target="_blank" class="twitter"><i class="i-twitter"></i><span>TWITTER</span></a>
					<a href="http://youtube.com/CreativeStores/" target="_blank" class="youtube"><i class="i-youtube"></i><span>Youtube</span></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="footer-copyright">
					<div style="display:inline-block;margin-right:20px;">
						<span id="ctl00_TagUCFooter2_tRightText">@ Copyright 2003 - 2025 Creative Technology Ltd. All rights reserved</span>
					</div>

							<a href="https://asia.creative.com/home/privacy" id="ctl00_TagUCFooter2_aPrivacyPolicy">Privacy Policy</a>
							| <a href="https://asia.creative.com/home/termsofuse" id="ctl00_TagUCFooter2_aTerms">Terms of Use</a>
							| <a href="https://asia.creative.com/home/copyright" id="ctl00_TagUCFooter2_aLegal">Copyright & Trademarks</a>
					    | <a href="/general/supportsitemap.aspx" id="ctl00_TagUCFooter2_aSiteMap" class="highlighted">Site Map</a>

				</div>
			</div>
		</div>
	</div>
</footer>


<div id="footer" style="display: none;">
	<div id="footerLinks">
		<div id="copyright">
		</div>
	</div>
</div>

  </div>

  <div id="product-menu" data-prevent-scroll>
    <a href="#" class="close i-cross light"></a>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="col-xxs-12 col-xs-6 col-sm-4 col-lg-4">
            <div class="cat-icon">
              <a class="mainlink" href="/Products/Products.aspx?catid=1118"><img class="maincat-icon"
                  src="/images/products/categories/thumbnails_1118.png"
                  longdesc="images/products/categories/thumbnails_1118.jpg" style="border-width:0px;"><span
                  class="maincat-name">Amplifiers</span></a>
            </div>
          </div>

          <div class="col-xxs-12 col-xs-6 col-sm-4 col-lg-4">
            <div class="cat-icon">
              <a class="mainlink" href="/Products/Products.aspx?catid=1170"><img class="maincat-icon"
                  src="/images/products/categories/thumbnails_1170.png"
                  longdesc="images/products/categories/thumbnails_1170.png" style="border-width:0px;"><span
                  class="maincat-name">Peripherals</span></a>
            </div>
          </div>

          <div class="col-xxs-12 col-xs-6 col-sm-4 col-lg-4">
            <div class="cat-icon">
              <a class="mainlink" href="/Products/Products.aspx?catid=0"><img class="maincat-icon"
                  src="/images/products/categories/thumbnails_0.png"
                  longdesc="images/products/categories/thumbnails_0.jpg" style="border-width:0px;"><span
                  class="maincat-name">Others</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="side-menu" data-prevent-scroll>
    <label class="close" for="nav-sitemap"></label>
    <div id="sitemap">
      <ul>
        <li style="margin: 10px 0;"><span class="title"><a href="/"><span>Creative Worldwide</span> Support</a></span></li>
        <li>
					Change Country / Region
					<section id="countryAppMenu">
							<div id="countrySelector">
            
								<select v-model="country"  @change="changeCountryLanguage($event)" class="DropDownList1">
										 <option v-for="country in countrieslist" :value="country.id">
											 {{ country.name }}
										 </option>
								</select>
							</div>
					</section>
          <div  class="countryselector">
            <ul style="display:none"></ul>
          </div>
        </li>

        <li id="ctl00_QuickLinks" style="margin-top:20px"><ul id="ctl00__555ba8_ulQuickLinks"><li><span class="title">Quick Links</span></li><li><a  href="https://register.creative.com?h=1" target="_blank">Register Your Product</a></li><li><a  href="/warranty/welcome.aspx?pid=0&cid=0&type=menu&h=2" target="">Warranty & Returns Information</a></li><li><a  href="/KB/showarticle.aspx?sid=136597&type=menu&h=12" target="">Battery Handling</a></li><li><a  href="https://asia.creative.com/contactus?h=5" target="_blank">Contact Us</a></li></ul></li>
				<li>
					<p class="title">Products</p>
					<ul>
						
								<li>
									<a id="ctl00_dlProductList_ctl00_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=1181">Super X-Fi</a>
								</li>
							
								<li>
									<a id="ctl00_dlProductList_ctl01_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=1118">Amplifiers</a>
								</li>
							
								<li>
									<a id="ctl00_dlProductList_ctl02_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=1">Sound Blaster</a>
								</li>
							
								<li>
									<a id="ctl00_dlProductList_ctl03_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=4">Speakers</a>
								</li>
							
								<li>
									<a id="ctl00_dlProductList_ctl04_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=437">Headphones</a>
								</li>
							
								<li>
									<a id="ctl00_dlProductList_ctl05_hypProdId" class="tdLink" href="/Products/Products.aspx?catid=0&amp;oid=213">MP3 Players</a>
								</li>
							
								<li>
									<a id="ctl00_dlProductList_ctl06_hypProdId" class="tdLink" href="/Products/Products.aspx?catid=0&amp;oid=493">Fatal1ty Pro Gaming</a>
								</li>
							
								<li>
									<a id="ctl00_dlProductList_ctl07_hypProdId" class="tdLink" href="../Products/Products.aspx?catid=1170">Peripherals</a>
								</li>
							
					</ul>
				</li>

      </ul>
    </div>
  </div>

  

  <link href="//d287ku8w5owj51.cloudfront.net/fontastic/icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" href="/content/vendor/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/content/vendor/slick/slick-theme.css"/>
  <link rel="stylesheet" href="/content/css/all.css">

  <script type="text/javascript" src="/content/js/es6-shim.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

  <!-- VueJS Library -->
  
	<script src="/content/js/vue.js"></script>

  <!-- Full bundle -->
  <script src="/content/js/vendor/buefy.min.js"></script>
  
  <!-- Custom Scripts -->
  <script src="/Content/js/countrySelectorApp.js"></script>
  <script src="/Content/js/sanitizer.js"></script>
  <script src="https://sg.creative.com/home/clientresources"></script>
  <script src="https://sg.creative.com/home/StoreJS"></script>
  <script src="https://sg.creative.com/bundles/commonJS?v=PQZUffd8fu5gXwPlEtqQv7UeIFu0Z4WSf6fQaWfQdVI1"></script> 
  
  
  
  

  <!-- Individual components -->
  <script src="/content/js/vendor/axios.min.js"></script>
  <script type="text/javascript" src="/content/vendor/slick/slick.min.js"></script>

  
  
  

  

  <!-- Google Analytic Comment -->
  <script>
    dataLayer = [{
      googleAnalyticsId: 'UA-7102263-2',
      gaProperty: 'UA-7276003-1'
    }];
  </script>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-7102263-2");
      pageTracker._setDomainName(".creative.com");
      pageTracker._trackPageview();
    } catch (err) { }
  </script>


  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KD3G" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KD3G');
  </script>

  
  

  <script type="text/javascript" src="/content/js/contentful.browser.min.js"></script>

  <script type="text/javascript">
		var siteLang = 'en';
		var printthis = 'Print';
  </script>

  <script src="/content/js/kbContent.js" type="text/javascript"></script>

  <script type="text/javascript">

    $(function () {
      var sid = "6098";

      KB.ShowArticle(sid);
    });
  </script>
<style>
  .mdi-arrow-right:before {
      content: "\F142";
  }
</style>


  <script src="/Content/js/suggestApp.js"></script>
  <script type="text/javascript">
    $(function () {
      $('.i-search').click(function () {
        $(this).hide();
        $('.search-nav').show();
      });
    });

  </script>

	</div>
  <div id="search-keywords">
    <input type="" style="display:none">
  </div>


</body>

</html>